# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Assorted Test Outputs
*.out

# Specific Directories
bitfile/*
musings/*

# Compiled Binary
src/tarranta
